@-webkit-keyframes fade-in {
0% {
    background-color: transparent;
}
15% {
    background-color: yellow;
}
100% {
    background-color: transparent;
}
}

@-moz-keyframes fade-in {
0% {
    background-color: transparent;
}
15% {
    background-color: yellow;
}
100% {
    background-color: transparent;
}
}

.highlight {
    -webkit-animation-name: fade-in;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-delay: 0, 0;

    -moz-animation-name: fade-in;
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: 1;
    -moz-animation-delay: 0, 0;
}